<div>
    <footer class="bg-[var(--color-primario)] text-white py-6 mt-12">
        <div class="container mx-auto text-center">
        <p>&copy; {new Date().getFullYear()} Desarrollado por <a href="https://nilspineda.com"><strong>Nils Pineda</strong></a></p>
        </div>
    </footer>
</div>