
---
import logo from '../assets/logo.svg';
---

<section class="h-1/2 mx-auto text-center py-20 px-2">
    <img src={logo.src} alt="Logo Danigrafia" class="mx-auto my-4 w-48"/>
    <h1 class="text-5xl font-semibold text-[var(--color-primario)]">Personaliza tu mundo</h1>
    <p class="text-gray-500 w-max-md mx-auto text-wrap text-md">Diseños únicos que cuentan tu historia: tazas, cuadernos, agendas y más, hechos con amor y detalle.</p>
    <div class="">
        <a href="#productos" class="mt-6 inline-block bg-[var(--color-primario)] text-white px-4 py-2 rounded-full hover:bg-[var(--color-secundario)] transition hover:text-white">Personaliza el tuyo</a>
        <a href="#productos" class="mt-6 inline-block border border-[var(--color-secundario)] text-[var(--color-secundario)] px-4 py-2 rounded-full hover:bg-[var(--color-secundario)] transition hover:text-white">Tienes una idea? Hablemos!</a>

    </div>
</section>